/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    h1 {
        text-align: center;
        text-transform: capitalize;
        margin: 10px;
        padding: 10px;
        background-color: azure;
    }

    h3 {
        color: tomato;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        line-height: 25px;
        font-size: 12px;
        font-weight: 800;

    }

    h2 {
        text-align: center;
        padding: 10px;
        margin: 5px;
        background-color: #444;
        color: azure;
        font-size: 12px;
    }

    span {
        font-weight: bold;
        font-size: 15px;
    }
    h4{
     text-transform:uppercase;
        font-width:bold;
        color:black;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    h1 {
        text-align: center;
        text-transform: capitalize;
        margin: 10px;
        padding: 10px;
        background-color: azure;
    }

    p {
        font-size: 16px;
        line-height: 25px;
        font-size: 12px;
        font-weight: 800;

    }

    h2 {
        text-align: center;
        padding: 10px;
        margin: 5px;
        background-color: #444;
        color: azure;
        font-size: 12px;
    }

    span {
        font-weight: bold;
        font-size: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        text-align: center;
        text-transform: capitalize;
        margin: 5px;
        padding: 10px;
        background-color: azure;
    }

    p {
        font-size: 16px;
        line-height: 35px;

    }

    h2 {
        text-align: center;
        padding: 10px;
        margin: 5px;
        background-color: #444;
        color: azure;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        text-align: center;
        text-transform: capitalize;
        margin: 5px;
        padding: 10px;
        background-color: azure;
    }

    p {
        font-size: 16px;
        line-height: 35px;

    }

    h2 {
        text-align: center;
        padding: 10px;
        margin: 5px;
        background-color: #444;
        color: azure;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        text-align: center;
        text-transform: capitalize;
        margin: 5px;
        padding: 10px;
        background-color: azure;
    }

    p {
        font-size: 16px;
        line-height: 35px;

    }

    h2 {
        text-align: center;
        padding: 10px;
        margin: 5px;
        background-color: #444;
        color: azure;
    }
}
