* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

section {
    background-color: antiquewhite;
    padding: 5px;
}
h3{
    color:crimson;
}